.lookbook__image {
  position: relative;
}
.lookbook__dot {
  width: 22px;
  height: 22px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}
.lookbook__content {
  margin-top: 15px;
}
.lookbook__content-button {
  margin-top: 15px;
}
.lookbook__product-image img {
  border-radius: 10px;
}
.lookbook__product {
  background: white;
  padding: 6px;
  opacity: 0;
  width: 200px;
  position: absolute;
  left: 10%;
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  border-radius: 12px;
}
.lookbook__product-inner {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lookbook__product-image {
  width: 30%;
}
.lookbook__product-description {
  width: 70%;
}

.look_content {
  margin-top: 15px;
}

.lookbook__dot:hover .lookbook__product {
  opacity: 1;
  pointer-events: unset;
  visibility: unset;
  margin-left: 25px;
}

.lookbook__product-description-title {
  font-size: 14px;
}
